#card{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn1:hover{
    background-color: rgb(13, 2, 60)!important;
  }
  #btn2:hover{
    background-color: rgb(13, 2, 60)!important;
  }