#info-input{
    display: none;
}
.buttons{
    margin-top:50px;
    margin-bottom: 100px;
    display:flex;
    justify-content:center;
    gap:2rem;
  }
  .buttons button{
    border:none;
    padding:0.4rem 1.2rem;
    background-color:rgb(13, 2, 60);
    color:white;
    border-radius:5px;
    cursor:pointer
  }
  
  #page-number{
    border:none;
    text-align:center;
    width:3rem;
    border-radius:5px;
  }
  #page-number:focus{
    outline:none;
  }
  #btn1:hover{
    background-color: rgb(13, 2, 60)!important;
  }
  #btn2:hover{
    background-color: rgb(13, 2, 60)!important;
  }
  .language{
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 10px;
}
.language>img{
    width: 20px !important;
    height: 13px !important;
}
.phone{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.phone_language{
    font-size: 12px;
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 750px;
}